* {
    text-decoration: none;
    list-style-type: none;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header {
    background-color: black;
    text-align: center;
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
    position: fixed;
    z-index: 111;
}

.logo {
    font-size: 25px;
    padding-left: 4%;
}

.thuoc_tinh {
    position: unset;
    position: relative;
    display: flex;
    left: -5%;
}

.thuoc_tinh li {
    font-size: 17px;
}

/* chinh vi tri thuoc tinh */
.dich_vu {
    padding-right: 40px;
}

.cau_lac_bo {
    padding-right: 40px;
}

.blog {
    padding-right: 40px;

}

.lich-tap {
    padding-right: 40px;
}

.hoivien {
    padding-right: 40px;
}

.lop_hoc:hover {
    background-color: red;
    color: white;
}

.lop_hoc li:hover {
    background-color: red;
    color: white;
}

.huan_luyen:hover {
    background-color: red;
    color: white;
}

.huan_luyen li:hover {
    background-color: red;
    color: white;
}

.mndown_caulacbo li:hover {
    background-color: red;
    ;
    color: white;
}

.mndown_blog li:hover {
    background-color: red;
    color: white;
}

.mndown_hoivien li:hover {
    background-color: red;
    color: white;
}


.mndown_dichvu {
    background-color: black;
    position: absolute;
    width: 190px;
    text-align: center;
    display: none;
}

.dich_vu:hover .mndown_dichvu {
    display: block;
}

#gach_chan:hover {
    border-bottom: 2px solid red;
}

#lich_tap:hover {
    border-bottom: 2px solid red;
}


.mnright_lophoc {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 190px;
    top: 0px;
    text-align: center;
    display: none;
}

.dich_vu .lop_hoc:hover .mnright_lophoc {
    display: block;
}

.mnright_huanluyen {
    background-color: black;
    position: absolute;
    width: 180px;
    display: none;
    left: 190px;
    top: 60px;
}

.mnright_huanluyen li {
    text-align: left;
    padding-left: 10px;
}

.dich_vu .huan_luyen:hover .mnright_huanluyen {
    display: block;
}

.mndown_caulacbo {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 100px;
    text-align: center;
    display: none;
}

.cau_lac_bo:hover .mndown_caulacbo {
    display: block;
}


.mndown_blog {
    background-color: black;
    position: absolute;
    width: 180px;
    text-align: center;
    display: none;
}

.blog:hover .mndown_blog {
    display: block;
}

.mnright_tintuc {
    background-color: black;
    position: absolute;
    width: 300px;
    left: 180px;
    top: 0px;
    display: none;

}

.blog .tin_tuc:hover .mnright_tintuc {
    display: block;
}

.mnright_kttl {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 60px;
    display: none;
}

.blog .kien_thuc_tap_luyen:hover .mnright_kttl {
    display: block;
}

.mnright_baitap {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 180px;
    top: 120px;
    display: none;
}

.blog .bai_tap:hover .mnright_baitap {
    display: block;
}

.mnright_yoga {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 180px;
    display: none;
}

.blog .yoga:hover .mnright_yoga {
    display: block;
}

.mnright_cdau {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 240px;
    display: none;
}

.blog .che_do_an_uong:hover .mnright_cdau {
    display: block;
}


.mndown_hoivien {
    background-color: black;
    position: absolute;
    text-align: center;
    width: 180px;
    left: 600x;
    display: none;
}

.hoivien:hover .mndown_hoivien {
    display: block;
}

.tap_thu {
    background-color: red;
    width: 200px;
    text-align: center;
}

.tap_thu a:hover {
    background-color: black;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 22px;
    padding-right: 23px;
    color: white;
    text-decoration: none;
}

.body-contain{
    padding-top: 59px;
}

.black-contain{
    background-color: black;
}

.breadcrum-wrap{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-top: 40px;
}

.breadcrum ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.breadcrum ul li{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.breadcrum ul a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: white;
    margin-right: 5px;
}

.search-contain{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
}

.clb-count h1{
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    line-height: 90px;
    color: #fff;
    margin-bottom: 40px;
}

.clb-item:first-child{
    border-top: 1px solid #ffffff;
}

.clb-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #ffffff;
}

.clb-left-contain{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: unset;
    padding-right: 205px;
}

.clb-left-contain .clb-left-content .item-title{
    width: 100%;
}

.clb-left-content .item-title{
    margin-bottom: 8px;
}

#club-contain .list-item-contain h2{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
}

.clb-left-contain .clb-left-content .description{
    width: 100%;
}

.clb-item .description{
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
}

.clb-left-content .description{
    margin-bottom: 16px;
}

.clb-left-content .information-content{
    margin-bottom: 22px;
}
.clb-left-content .information-content .address{
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.clb-left-content .information-content .hotline{
    margin-bottom: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.clb-left-content .information-content .opening-hours{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
}

.item-title h2{
    width: 80%;
}

.list-item-contain{
    padding-left: 20px;
    padding-right: 20px;
}

.clb-right-contain{
    height: 400px;
    width: 50%;
    margin-top: 24px;
    position: relative;
    overflow: hidden;
}

.clb-right-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img{
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.footer{
    background-color: #222;
    position: relative;
    top: 500px;
}

.footer_dich_vu{
    position: relative;
    left: 100px;
    line-height: 30px;
    top: 235px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}
.footer_dich_vu a{
    font-size: 20px;
}

.footer_dich_vu li{
    margin-top: 15px;
}
.footer_cong_ty {
    list-style: none;
    font-size: 20px;
    position: relative;
    left: 400px;
    line-height: 40px;
    top: -130px;
}


.footer_support{
    position: relative;
    left: 730px;
    top: -440px;
}
.footer_support img{
    width: 150px;
    margin-top: 32px;
    vertical-align: middle;
    border-style: none;
}
.footer_support a{
    color: #da2128;
    text-decoration: none;
    font-size: 36px;
    line-height: 53px;
}
.footer_thong_tin{
    position: relative;
    left: 1000px;
    top: -570px;
    
}
.footer_thong_tin p{
    font-size: 14px;
    font-style: normal;
    width: 370px;
    line-height: 30px;
}

#create{
    text-align: center;
    font-size: 20px;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}