* {
    text-decoration: none;
    list-style-type: none;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header {
    background-color: black;
    text-align: center;
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
    position: fixed;
    z-index: 111;
}

.logo {
    font-size: 25px;
    padding-left: 4%;
}

.thuoc_tinh {
    position: unset;
    position: relative;
    display: flex;
    left: -5%;
}

.thuoc_tinh li {
    font-size: 17px;
}

/* chinh vi tri thuoc tinh */
.dich_vu {
    padding-right: 40px;
}

.cau_lac_bo {
    padding-right: 40px;
}

.blog {
    padding-right: 40px;

}

.lich-tap {
    padding-right: 40px;
}

.hoivien {
    padding-right: 40px;
}

.lop_hoc:hover {
    background-color: red;
    color: white;
}

.lop_hoc li:hover {
    background-color: red;
    color: white;
}

.huan_luyen:hover {
    background-color: red;
    color: white;
}

.huan_luyen li:hover {
    background-color: red;
    color: white;
}

.mndown_caulacbo li:hover {
    background-color: red;
    ;
    color: white;
}

.mndown_blog li:hover {
    background-color: red;
    color: white;
}

.mndown_hoivien li:hover {
    background-color: red;
    color: white;
}


.mndown_dichvu {
    background-color: black;
    position: absolute;
    width: 190px;
    text-align: center;
    display: none;
}

.dich_vu:hover .mndown_dichvu {
    display: block;
}

#gach_chan:hover {
    border-bottom: 2px solid red;
}

#lich_tap:hover {
    border-bottom: 2px solid red;
}


.mnright_lophoc {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 190px;
    top: 0px;
    text-align: center;
    display: none;
}

.dich_vu .lop_hoc:hover .mnright_lophoc {
    display: block;
}

.mnright_huanluyen {
    background-color: black;
    position: absolute;
    width: 180px;
    display: none;
    left: 190px;
    top: 60px;
}

.mnright_huanluyen li {
    text-align: left;
    padding-left: 10px;
}

.dich_vu .huan_luyen:hover .mnright_huanluyen {
    display: block;
}

.mndown_caulacbo {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 100px;
    text-align: center;
    display: none;
}

.cau_lac_bo:hover .mndown_caulacbo {
    display: block;
}


.mndown_blog {
    background-color: black;
    position: absolute;
    width: 180px;
    text-align: center;
    display: none;
}

.blog:hover .mndown_blog {
    display: block;
}

.mnright_tintuc {
    background-color: black;
    position: absolute;
    width: 300px;
    left: 180px;
    top: 0px;
    display: none;

}

.blog .tin_tuc:hover .mnright_tintuc {
    display: block;
}

.mnright_kttl {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 60px;
    display: none;
}

.blog .kien_thuc_tap_luyen:hover .mnright_kttl {
    display: block;
}

.mnright_baitap {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 180px;
    top: 120px;
    display: none;
}

.blog .bai_tap:hover .mnright_baitap {
    display: block;
}

.mnright_yoga {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 180px;
    display: none;
}

.blog .yoga:hover .mnright_yoga {
    display: block;
}

.mnright_cdau {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 240px;
    display: none;
}

.blog .che_do_an_uong:hover .mnright_cdau {
    display: block;
}


.mndown_hoivien {
    background-color: black;
    position: absolute;
    text-align: center;
    width: 180px;
    left: 600x;
    display: none;
}

.hoivien:hover .mndown_hoivien {
    display: block;
}

.tap_thu {
    background-color: red;
    width: 200px;
    text-align: center;
}

.tap_thu a:hover {
    background-color: black;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 22px;
    padding-right: 23px;
    color: white;
    text-decoration: none;
}
#abanner{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
/* .item img{
    max-height: 70vh;
    object-fit: cover;
} */
.submit-contain-header{
    position: absolute;
    bottom: 0;
    color: white;
    margin: auto;
    right: 0;
    left: 0;
    max-width: 1200px;
    margin-bottom: 97px;
}

.submit-header-content .left-box{
    width: 50%;
    padding-right: 30px;
    border-right: solid 2px;
}

.submit-header-content{
    display: flex;
    flex-direction: row;
    max-width: 460px;
    margin-bottom: 190px;
}

.submit-header-content .big-text{
    font-weight: 500px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
    font-style: normal;
    color: #fff;
}
.small-text{
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    display: flex;
    height: 50%;
    align-items: baseline;
}
.submit-header-content .right-box{
    margin-left: 40px;
    width: 60%;
}

.black-contain{
    background-color: black;
}

.service-contain{
    max-width: 1200px;
    margin: auto;
    color: white;
    display: flex;
    padding: 80px 0;
}

.service-contain .left-contain{
    width: 40%;
}

.big-title{
    font-weight: 500;
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
    width: 80%;
    margin-bottom: 16px;
}

.service-contain .big-title h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
    max-width: 370px;
}

.service-contain .right-contain{
    width: 60%;
}

.image-yoga img{
    width: 700px;
}

.service-contain .content{
    margin-top: 24px;
}

.service-contain .title h3{
    margin-bottom: 8px;
    font-weight: 50;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.service-contain .description{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.75);
}

.yoga-classes-contain{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
}

.yoga-classes-contain .left-contain{
    width: 40%;
}
.sticky{
    position: sticky;
    height: auto;
    top: 80px;
    
}

.yoga-classes-contain .left-contain .big-title h2{
    font-weight: 500;
    font-size: 50px;
    line-height: 90px;
    color: #ffffff;
    max-width: 413px;
   
}

.yoga-classes-contain .description{
    font-size: 14px;
    line-height: 21px;
    width: 70%;
    color: #ffffff;
    max-width: 340px;
    font-style: normal;
    font-weight: normal;
}

.yoga-classes-contain .right-contain{
    display: flex;
    width: 60%;
}

.yoga-classes-contain .right-contain .column-left{
    margin-right: 20px;
    max-width: 340px;
    width: 50%;
}

.yoga-classes-contain .right-contain .item{
    margin-bottom: 40px;
}

.yoga-classes-contain .right-contain .item .image{
    width: 100%;
    padding-bottom: calc(100% (4 / 3));
    margin-bottom: 24px;
    position: relative;
}

.right-contain .item .image img{
    width: 100%;
    height: 100%;
    
}

.yoga-classes-contain .right-contain .item .title h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 8px;
}
.yoga-classes-contain .right-contain .item .subdescription{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
    color: rgba(255, 255, 255, 0.75);
}

.yoga-classes-contain .column-right{
    margin-top: 80px;
    margin-left: 20px;
    max-width: 340px;
    width: 50%;
}

.yoga-classes-contain .right-contain .item{
    margin-bottom: 40px;
}

.yoga-classes-contain .right-contain .item .image{
    width: 100%;
    padding-bottom: calc(100% (4 / 3));
    margin-bottom: 24px;
    position: relative;
}

#alazy{
    width: 100%;
    height: 100%;
}

.footer-contain{
    padding-left: 20px;
    padding-right: 20px;
}


