* {
    text-decoration: none;
    list-style-type: none;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.header {
    background-color: black;
    text-align: center;
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
    position: fixed;
    z-index: 111;
}

.logo {
    font-size: 25px;
    padding-left: 4%;
}

.thuoc_tinh {
    position: unset;
    position: relative;
    display: flex;
    left: -5%;
}

.thuoc_tinh li {
    font-size: 17px;
}

/* chinh vi tri thuoc tinh */
.dich_vu{
    padding-right: 40px;
    padding-left: 40px;
}
.cau_lac_bo{
    padding-right: 40px;
}
.blog{
    padding-right: 40px;
    
}
.lich-tap{
    padding-right: 40px;
}
.hoivien{
    padding-right: 40px;
}

.lop_hoc:hover {
    background-color: red;
    color: white;
}
.lop_hoc li:hover{
    background-color: red;
    color: white;
}
.huan_luyen:hover {
    background-color: red;
    color: white;
}
.huan_luyen li:hover{
    background-color: red;
    color: white;
}

.mndown_caulacbo li:hover{
    background-color: red;;
    color: white;
}
.mndown_blog li:hover{
    background-color: red;
    color: white;
}
.mndown_hoivien li:hover{
    background-color: red;
    color: white;
}


.mndown_dichvu {
    background-color: black;
    position: absolute;
    width: 190px;
    text-align: center;
    display: none;
}
.dich_vu:hover .mndown_dichvu {
    display: block;
}

#gach_chan:hover{
    border-bottom: 2px solid red;
}
#lich_tap:hover{
    border-bottom: 2px solid red;
}


.mnright_lophoc {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 190px;
    top: 0px;
    text-align: center;
    display: none;
}
.dich_vu .lop_hoc:hover .mnright_lophoc {
    display: block;
}
.mnright_huanluyen {
    background-color: black;
    position: absolute;
    width: 180px;
    display: none;
    left: 190px;
    top: 60px;
}
.mnright_huanluyen li {
    text-align: left;
    padding-left: 10px;
}
.dich_vu .huan_luyen:hover .mnright_huanluyen {
    display: inline-block;
}

.mndown_caulacbo {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 100px;
    text-align: center;
    display: none;
}
.cau_lac_bo:hover .mndown_caulacbo{
    display: block;
}


.mndown_blog{
    background-color: black;
    position: absolute;
    width: 180px;
    text-align: center;
    display: none;
}
.blog:hover .mndown_blog{
    display: block;
}

.mnright_tintuc {
    background-color: black;
    position: absolute;
    width: 300px;
    left: 180px;
    top: 0px;
    display: none;

}
.blog .tin_tuc:hover .mnright_tintuc{
    display: block;
}

.mnright_kttl {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 60px;
    display: none;
}
.blog .kien_thuc_tap_luyen:hover .mnright_kttl{
    display: block;
}

.mnright_baitap {
    background-color: black;
    position: absolute;
    width: 180px;
    left: 180px;
    top: 120px;
    display: none;
}
.blog .bai_tap:hover .mnright_baitap{
    display: block;
}

.mnright_yoga {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 180px;
    display: none;
}
.blog .yoga:hover .mnright_yoga{
    display: block;
}

.mnright_cdau {
    background-color: black;
    position: absolute;
    width: 250px;
    left: 180px;
    top: 240px;
    display: none;
}
.blog .che_do_an_uong:hover .mnright_cdau{
    display: block;
}


.mndown_hoivien {
    background-color: black;
    position: absolute;
    text-align: center;
    width: 180px;
    left: 600x;
    display: none;
}
.hoivien:hover .mndown_hoivien{
    display: block;
}

.tap_thu {
    background-color: red;
    width: 200px;
    text-align: center;
}
.tap_thu :hover {
    background-color: black;

}

.dang_nhap {
    text-align: center;
}








#anhbaner {
    width: 100%;
    height: 100%;
}

.baner {
    position: absolute;
    top: 40%;
    left: 80px;
    align-items: flex-start;
    font-style: normal;
    z-index: 100;
}

.baner h1 {
    color: rgb(218, 33, 40);
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    
}

.baner h4 {
    color: rgb(218, 33, 40);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.btn-banner {
    font-size: 15px;
    line-height: 18px;
    border: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    letter-spacing: -0.015em;
    padding: 14px 89px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 29px;
    background: #DA2128;
    transition: ease-in-out;
}

.btn-banner:hover {
    background-color: #000;
    color: #FFFFFF;
}

.column1 {
    width: 340px;
    height: 330px;
    padding: 20px;
    text-align: center;
    padding-left:350px;
    padding-top: 100px;

}
.column1 h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


.clolumn2 {
    width: 340px;
    height: 470px;
    padding: 20px;
    text-align: left;
    padding-left: 830px;
    top: 900px;
    position:absolute;
}
.clolumn2 #anhcolumn1 {
    width: 340px;
    height: 450px;
}


.clolumn3 {
    width: 340px;
    height: 470px;
    padding: 20px;
    text-align: left;
    padding-left: 830px;
    top: 900px;
    left: 400px;
    position:absolute;
}
.clolumn3 #anhcolumn2 {
    width: 340px;
    height: 450px;
}


.clolumn4 {
    width: 340px;
    height: 470px;
    padding: 20px;
    text-align: left;
    padding-left: 830px;
    position:absolute;
    top: 1550px;
}
.clolumn4 #anhcolumn3 {
    width: 340px;
    height: 450px;
}


.clolumn5 {
    width: 340px;
    height: 470px;
    padding: 20px;
    text-align: left;
    padding-left: 830px;
    position:absolute;
    top: 1600px;
    left: 400px;
}
.clolumn5 #anhcolumn4 {
    width: 340px;
    height: 450px;
}


.clolumn6 {
    width: 340px;
    height: 470px;
    padding: 20px;
    text-align: left;
    padding-left: 830px;
    position:absolute;
    top: 1300px;
    padding-left:350px;
    padding-top: 100px;
}
.clolumn6 #anhcolumn5 {
    width: 340px;
    height: 450px;
}

.column7 {
    position: relative;
    top: 1100px;
    left: 360px;
}
.bigtitle h2{
    font-size: 50px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}
.bigtitle {
    width: 480px;
    height: 340px; 
}


#anh_column7{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 700px;
    top: 30px;
}

.big8 h2{
    font-size: 50px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}
.big8{
    position: relative;
    width: 480px;
    height: 340px;
    padding: 20px;
    left: 350px;
    top: 1400px;
}

#anhslide{
    width: 600px;
    height: 400px;
}

.slide2 .slide2text{
    width: 600px;
    height: 200px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

.slide2{
    position: relative;
    width: 480px;
    height: 340px;
    padding: 20px;
    left: 1040px;
    top: 950px;
}



.text_dangki{
    position: relative;
    background-color: white;
    width: 100%;
    height: 600px;
    top: 1200px;
}
.text_dangki h1{
    font-size: 50px;
    line-height: 100px;
    color: black;
    width: 450px;
    height: 330px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 55px;
    left: 260px;
}

.text_dangki p{
    color: black;
    width: 400px;
    height: 100px;
    text-align: left;
    position: relative;
    top: 30px;
    left: 260px;
}


.form_dangki{
    position: relative;
    top: 570px;
    left: 300px;
}


.to {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
 
.form {
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 470px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
.form h2{
    color:#000;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

label {
    display: block;
    font-weight: lighter;
    color:#000;
    text-align: left;

}
input{
    display: block;
    color:#000;
    border-bottom: 2px solid #00BCD4;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
}
input[type="text"] {
    padding: 5px;
    width: 70%;
}
 
input#submit {
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background: red;
}
input#submit{
    color: white;
}
input#submit:hover{
 
    background: black; 
}




.footer{
    position: relative;
    top: 500px;
    margin: auto;
}
.footer_dich_vu{
    position: relative;
    line-height: 30px;
    top: 235px;
    right: -100px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    width: 480px;
    height: 340px;
}
.footer_dich_vu a{
    font-size: 20px;
}

.footer_dich_vu li{
    margin-top: 15px;
}
.footer_cong_ty {
    list-style: none;
    font-size: 20px;
    position: relative;
    left: 400px;
    line-height: 40px;
    top: -130px;
    width: 480px;
    height: 320px;

}


.footer_support{
    position: relative;
    left: 730px;
    top: -440px;
    width: 400px;
    height: 300px;
}
.footer_support img{
    width: 150px;
    margin-top: 32px;
    vertical-align: middle;
    border-style: none;
}
.footer_support a{
    color: #da2128;
    text-decoration: none;
    font-size: 36px;
    line-height: 53px;
}
.footer_thong_tin{
    position: relative;
    top: -700px;
    width: 400px;
    height: 140px;
    left: 1100px;
    
}
.footer_thong_tin p{
    font-size: 14px;
    font-style: normal;
    width: 370px;
    line-height: 30px;
    
} 

#create{
    text-align: center;
    font-size: 20px;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}