
   .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
   }
   
   #xmas-popup .popup-content{
    position: relative;
    left: 650px;
    top: 200px;
   }
   
   .close {
    position: absolute;
    top: 10px;
    left: 660px;
    border-radius: 50%;
    background: #222;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
   }
       
   .popup:target {
     display: block;
   }
   